<!DOCTYPE html>

<body>

<div class="container" style="font-size: 30px;width:min-content;height:auto; align-content: right;">
    
    <b><p style=" text-align: center; color:black"> INICIO DE SESIÓN </p></b>

    <label for="uname" style= "color:black "><b>Usuario    </b></label>
    <input type="text" placeholder="Nombre de Usuario" name="uname" 
        required style="font-size: 30px; width:590px;height:50px;"><br><br>

    <label for="psw" style= "color:black "><b>Contraseña    </b></label>
    <input type="password" placeholder="Contraseña" name="psw" 
        required style="font-size: 30px; width:590px;height:50px;"><br><br>

    <button type="submit" 
                style=" text-align: center;width:480px;height:80px; font-size: 30px; 
                                     justify-content: center; display: block; margin: 0 auto;"
                                     >ENTRAR</button><br><br>

</div>

</body>