<!DOCTYPE html>

<body>

<h1 style="text-align: center; " >Producción - Modanova SAS</h1>

<div class="container" style="font-size: 30px; width:600px;height:400px">
    
    <b><p style=" text-align: center; color:rgb(11, 189, 212);"> LOGEO </p></b>

    <label for="uname" style= "color:rgb(11, 189, 212); "><b>Usuario    </b></label>
    <input type="text" placeholder="Nombre de Usuario" name="uname" 
        required style="font-size: 30px; width:590px;height:50px;"><br><br>

    <label for="psw" style= "color:rgb(11, 189, 212); "><b>Contraseña    </b></label>
    <input type="password" placeholder="Contraseña" name="psw" 
        required style="font-size: 30px; width:590px;height:50px;"><br><br>

    <button type="submit" 
                style=" text-align: center;width:480px;height:80px; font-size: 30px; 
                                     justify-content: center; display: block; margin: 0 auto;"
                                     >ENTRAR</button>

</div>

</body>